{#
/**
 * @file
 * Default theme implementation to display a message when no questions are available.
 *
 * Available variables:
 * - message: The message to display.
 */
#}
<div class="voting-no-questions">
  {{ message }}
</div> 